
<div class="btn-camera" (click)="selectCapture()">
    <i class="icon-sli-camera icon2x"></i>
</div>


<div class="side-panel-menu-container">
    <div class="btn-menu" (click)="toggleMenu()" >
        <i class="icon-sli-menu icon2x"></i>
    </div>

    <div id="side-panel-menu" class="side-panel-menu">

        <p class="panel-subtitle">Drag tags to add</p>

        <div class="row">

            <div class="drag-container">
                <div id="addTag" class="dragItem" >
                    <i class="icon-sli-tag icon2x tag-icon"></i>
                </div>
                <div class="icon-drag-bg">

                </div>
            </div>
               
        </div> 

        

        


        <mat-divider></mat-divider>

        
        
        <div class="new-tag-list">

            <div class="tag"
                *ngFor="let newTag of getSelectedPreviewItem('newTags'); let i = index;"
                (mouseenter) ="tagHoverIn(newTag)" (mouseleave) ="tagHoverOut(newTag)"

                [class.inFocus] = "newTag.inFocus"
            >
                <img [src]="newTag.tagImage">
                <div class="tag-container">
                    <p>{{newTag.tagTitle}}</p>
                    <p>{{newTag.tagSeller}}</p>
                </div>

                <div class="action-panel">
                    <i class="icon-sli-settings action-icon" (click)="editCommentAdd(newTag, i)" ></i>
                    <i class="icon-sli-trash action-icon" (click)="deleteNewTag(i)"></i>
                </div>
            </div>

            
        </div>
        
    </div>
</div>
















 
 
 <section id="home-section" class="line">
           
    <div class="s-12 m-12 l-12 margin-bottom add-select-container " [hidden]="captureContainerHidden">
       
          <div class="s-6 m-6 l-6 ">
            <div>
                <h1 class="title-upload-choice">UPLOAD</h1>
              <div>
                  <file-drop headertext="Drop outfit here" (onFileDrop)="dropped($event)" 
                  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" class="btn-upload-choice" customstyle="upload-style">
                      
                  </file-drop>

              </div>
            </div>
            
          </div>

          <div class="s-6 m-6 l-6 ">
              <h1 class="title-capture-choice">CAPTURE</h1>
              <div class="capture-container" >
                  <div>
                      <div class="btn-capture-choice" (click)="selectCapture()">
                          <i class="icon-sli-camera icon2x tag-icon"></i>
                      </div>
                </div>
              </div>
                
          </div>

    </div>

    <div class="s-12 m-12 l-12 " [hidden]="previewImgHidden"  >

        <div class="s-12 m-3 l-3 capture-options " >
            <mat-form-field>
                <mat-select placeholder="Collection" [(value)]="selectedCollection">
                    <mat-option *ngFor="let coll of collectionList" [value]="coll">
                    {{ coll }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>           

        <div class="s-12 m-3 l-3 right " >
            <button class="mat-button-vid-capture" mat-button (click)="addToCollection()"> 
                <i class="icon-sli-plus icon2x tag-icon"></i>
            </button>
            <!-- <button class="mat-button-vid-capture"  mat-button (click)="takeVideo()"> <i class="icon-sli-camrecorder icon2x tag-icon"></i></button> -->
        </div>
    
     </div>

    <div id="previewImg-container" class="s-12 m-12 l-12 previewImg-container" [hidden]="previewImgHidden">
       <img id="previewImg" [src]="getSelectedPreviewItem('srcThumbnail')" (mouseup)="imgMouseUp($event)" (drop)="isDropped($event)">
        
       <div class="tag-icon-mini" [class.inFocus] = "newTag.inFocus" (mouseenter) ="tagHoverIn(newTag)" (mouseleave) ="tagHoverOut(newTag)" *ngFor="let newTag of getSelectedPreviewItem('newTags'); let i = index;" [style.top]="newTag.coords.prevContainerYRatio * 100 + '%'" [style.left]="newTag.coords.prevContainerXRatio * 100 + '%'">
        </div>

    </div>

    <!-- feature toggle for including videos, currently off -->

    <div class="s-12 m-12 l-12 previewImg-container" [hidden]="true"  >
        <!-- <video id="previewVideo" autoplay preload="auto" type="video/mp4" class="captureVideo" [src]="san.bypassSecurityTrustUrl(selectedPreviewItem.src)"></video> -->
        <video id="previewVideo" preload="metadata" type="video/mp4" class="captureVideo" src="../assets/test1.mp4" ></video>
     
        <mat-slider (input)="slidePlay($event)" class="new-session-slider" min="1" max="100" step="0.1"></mat-slider>
    </div>

     <div class="s-12 m-12 l-12 " [hidden]="captureVideoHidden"  >

            <div class="s-12 m-3 l-3 capture-options " [hidden]="captureVideoHidden"  >
                <mat-form-field>
                    <mat-select placeholder="Camera" [(value)]="videoDeviceSelected" (change)="getStream()">
                        <mat-option *ngFor="let vidDevice of videoDevices" [value]="vidDevice">
                        {{ vidDevice.text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>           

            <div class="s-12 m-3 l-3 right " >
                <button class="mat-button-vid-capture" mat-button (click)="capturePicture()"> <i class="icon-sli-camera icon2x tag-icon"></i></button>
                <!-- <button class="mat-button-vid-capture"  mat-button (click)="takeVideo()"> <i class="icon-sli-camrecorder icon2x tag-icon"></i></button> -->
            </div>
    
     </div>
     <div class="s-12 m-12 l-12 " [hidden]="captureVideoHidden" >
        <video id="captureVideo" class="captureVideo"></video>
        
    </div>

    <canvas id="canvas" hidden ></canvas>

    <div class="s-1 m-1 l-1 preview-item-add" [hidden]="previewItems.length == 0">

        <file-drop headertext="Drop outfit here" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" >
        </file-drop>

    </div>


    <div class="s-11 m-11 l-11 preview-Slider">

        <div *ngFor="let item of previewItems; let i = index;" class="preview-item" [class.isSelected]="i == selectedPreviewItemIndex" [style.backgroundImage]="'url(' + item.srcThumbnail + ')'" (click)="selectPreviewItemIndex(item, i)">
            
            <div class="added" [hidden]="!item.isAdded">

            </div>

            <div class="details">
                <i class="icon-sli-trash trash-icon" (click)="deletePreviewIcon($event, i)"></i>
            </div>

        </div>
    </div>

</section>







<video id="captureVideoHidden" hidden class="captureVideo"></video>