.side-panel-menu-container{
    position: fixed; 
    right: 0; 
    top: 25%; 
    z-index: 999;
}

.btn-menu{
    background-color: #d8a69e;
    padding: 20px;
    z-index: 120;
    width: 76px;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}



.side-panel-menu{
    height: 400px;
    width: 0;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    transition: 0.2s ease-in-out;
}

.side-panel-menu.open{
    width: 200px;
}

.side-panel-menu .row{
    padding: 8px;
}

.new-tag-list{
    padding: 8px; 
    height: 60%;
    overflow-y: scroll;
}


/* adding comments dragndrop */

.drag-container{
    display: inline-block;
    position: relative;
    height: 60px; 
    width: 60px;
}

.drag-container .icon-drag-bg{
    height: 45px;
    width: 45px;
    z-index: 999999;
    margin: 4px;
    border-radius: 13px;
    border: 2px dashed grey;
}

.dragItem{
    border-radius: 10px; 
    height: 50px; 
    width: 50px; 
    background-color: rgba(51, 67, 75, 1); 
    position: absolute;
    display: flex; 
    align-items: center;
    
}

.dragItem.isDragged{
    transform : rotate(21deg) skew(7deg) translate(11%,17%);
    box-shadow: 2px 4px 13px #000000;
}

.tag-icon{
    width: 100%; 
    text-align: center;
    font-size:20px;
    background-color:unset;
}

























.captureVideo{
    width: 100%;
}

.collection-select-row{
    height: 50vh; 
    overflow-y: scroll; 
}

.select-collection-container{
    background-color: #33434b;
    margin-bottom: 10px;
}

.select-collection-img{
    height: 100px; 
    background-position: top center; 
    background-size: cover; 
    background-repeat: no-repeat;
}

.select-collection-text{
    color: white;
    font-size: 14px;
    padding: 5px;
}

/deep/ .select-collection-container .mat-checkbox-frame{
    border-color: white !important;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #33434b;
}

.new-session-slider{
    width: 100%; 
    
}


.add-select-container{
    height: 70vh;
}

.capture-container{
    margin-top: 30%;
    border-left: 1px solid #33434b;
}

.title-capture-choice, .title-upload-choice{
    text-align: center;
    margin-top: 40px;
    color: #33434b;
    font-weight: 100;
}

.btn-upload-choice{
    width: 50%;
    margin-left: 25%;
    margin-top: 30%;
    text-align: center;
    height: 200px;
    color: #6b6b6b;
    display: table;
    border: 3px dashed #cccccc;
    background: #d6d6d6;
}

.btn-capture-choice{
    width: 50%;
    text-align: center;
    height: 200px;
    color: #6b6b6b;
    display: table;    
    background-color: #33434b;
    opacity: 0.8;
    margin-left: 25%;
    margin-bottom: 10px;
}

.btn-capture-choice:hover{
    opacity: 1;
}

.btn-capture-choice.active{
    background-color: #d8a69e; 
}




.btn-capture-choice i{
    vertical-align: middle;
    display: table-cell;
    font-size: 68px;
}

.btn-upload-choice i{
    font-style: normal;
    color: #cccccc;
    vertical-align: middle;
    display: table-cell;
    font-size: 68px;
}


.mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
    font-size: 12px;
}



#previewImg {
    max-height: 60vh; 
    width: 100%; 
    object-fit: contain;
    object-position: center;
    background-color: black;
}

#previewImg.isInFocus{
    border: 2px solid #d8a69e;
}

.preview-Slider{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative; 
    padding-left: 20px;
    padding-top: 30px;
}


.previewImg-container{
    position: relative;
    margin-bottom: 20px;
}


.preview-item{
    height: 150px; 
    width: 120px; 
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat;
    margin-right: 5px;
    display: inline-block;
    position: relative;
}

.preview-item:hover{
    transform: translate(0%, -10%) scale(1.05); 
    z-index: 120;
}

.preview-item.isSelected{
    transform: translate(0%, -10%) scale(1.1); 
    box-shadow: 0px 0px 7px rgba(0,0,0,0.225);
    z-index: 100;
}

.preview-item .added{
    position: absolute; 
    top: 0; 
    right: 5%; 
    height: 40px; 
    width: 30px;

    background-color: #33434b;
    background-image: url(/../assets/img/hanger_white.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}


.preview-item-add{
    border: 3px dashed #cccccc;
    background: #d6d6d6;
    height: 150px;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.preview-item .details{
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: #d2d2d2cc;
    bottom: 0;
}

.preview-item .details .trash-icon{
    padding: 5px;
    position: absolute;
    font-size: 13px;
}

.preview-item .details .trash-icon:hover{
    background-color: #919191;
    cursor: pointer;
}




.capture-options .mat-form-field{
    width: 100%; 
}

.capture-options.btn{
    height: 20px; 
    font-size: 12px;
}


.mat-button-vid-capture{
    background-color: #33434b;
    height: 50px;
    width: 48%; 
    float: right;
}


.mat-button-vid-capture .tag-icon{

    font-size: 20px;

}

.tag-icon-mini{

    height: 30px; 
    width: 30px;
    position: absolute; 
    border-radius: 4px; 
    background-color: #33434b;
    background-image: url(/../assets/img/hanger_white.png);
    background-position: center center; 
    background-size: 75%; 
    background-repeat: no-repeat;

}

.tag-icon-mini.inFocus{
    transform: scale(1.1);
    background-color: #d8a69e;
    border: 1px solid #33434b;
}


