<section class="line">
    <div class="margin">
           
       <div class="s-12 m-12 l-12">

        <div class="profile-container">

          <div class="profile">
            <img class="avatar" [src]="util.wrapHostPath(profile?.userAvatarPath)" >
            <div class="user-details">
              <div class="user-name">
                @{{ profile?.userName }}
              </div>
              <div class="details">
                since, Mar '17'
              </div>

            </div>
          </div>

          <div class="follower-details">
            
          </div>

        </div>
        
       </div>

       <div class="s-12 m-12 l-12">
          <mat-tab-group class="profile-content" >
              <mat-tab label="Activities">
                  <ng-template mat-tab-label>
                      <i class="icon-sli-share menu-icon"></i>
                    </ng-template>
                    
                    <div style="padding-top: 20px">
                        <activity-content *ngFor="let item of activityItems; let i = index;" [type]="item.itemType" [context]="item" [index]="i"></activity-content>
                    </div>
                    
                   
                    <!-- <activity-content type="sample2" [context]="context"></activity-content>
                    <activity-content type="some-other-type" [context]="context"></activity-content>
                     -->

              </mat-tab>
              <mat-tab label="Collections">
                  <ng-template mat-tab-label >
                      <i class="icon-sli-camera menu-icon" (click)="loadCollections()"></i>
                    </ng-template>
                    
                    <div class="collection-thumb-container">
                       <div class="collection-thumb" 
                      [class.right-align]="!(i % 2 == 0)" 
                      [style.backgroundColor]="c.getPrimeColor()"
                      [style.backgroundImage]="'url(' + util.wrapHostPath(c.getThumbnail())  + ')'"

                      *ngFor="let c of profileCollections; let i = index;">

                       <div class="details" >
                          <span linkCollection [username]='profileUserId'  [collectionId]='c.getId()'>#{{c.collectionTitle}}</span>

                          <span><br>{{c.getNoSessions()}} <i class="icon-sli-picture menu-icon"></i></span>
                       </div>
                      </div>
                    </div>
              </mat-tab>
            </mat-tab-group>
       </div>


      
         
    </div>
  </section>