<section class="line">
    <div class="margin">
           
       <div class="s-12 m-12 l-12">

        <div class="profile-container">

          <div class="profile">
            <img class="avatar" src="../../../assets/img/7.jpg" >
            <div class="user-details">
              <div class="user-name">
                @schnulli
              </div>
              <div class="details">
                since, Mar '17'
              </div>

            </div>
          </div>

          <div class="follower-details">
            
          </div>

        </div>
        
       </div>

       <div class="s-12 m-12 l-12">
          <mat-tab-group class="profile-content" >
              <mat-tab label="Activities">
                  <ng-template mat-tab-label>
                      <i class="icon-sli-share menu-icon"></i>
                    </ng-template>
                    
                    <activity-content *ngFor="let item of activityItems; let i = index;" [type]="item.type" [context]="item" [index]="i"></activity-content>
                   
                   
                    <!-- <activity-content type="sample2" [context]="context"></activity-content>
                    <activity-content type="some-other-type" [context]="context"></activity-content>
                     -->

              </mat-tab>
              <mat-tab label="Tab 1">
                  <ng-template mat-tab-label>
                      <i class="icon-sli-camera menu-icon"></i>
                    </ng-template>
                    
                    <div class="collection-thumb-container">
                       <div class="collection-thumb" 
                      [class.right-align]="!(i % 2 == 0)" 
                      [style.backgroundColor]="c.primColor"
                      [style.backgroundImage]="'url(' + c.imgPath + ')'"

                      *ngFor="let c of myCollections; let i = index;">

                       <div class="details" >
                          <span>{{c.collectionTitle}} <br>{{c.sessionCnt}} <i class="icon-sli-picture menu-icon"></i></span>
                       </div>
                      </div>
                    </div>
                   



              </mat-tab>
              <mat-tab label="Friends">
                  <ng-template mat-tab-label>
                      <i class="icon-sli-people menu-icon"></i>
                    </ng-template>
                    List of friends
              </mat-tab>
            </mat-tab-group>
       </div>


      
         
    </div>
  </section>