.addTag-container{
    min-width: 25vw;
    max-width: 40vw;
}

.addTag-container .field{
    width: 100%; 
}

.addTag-container .field.small{
    width: 70%; 
}

.checkUrl-btn{
    width: 10%; 
}


.cancel-btn{
    width: 25%; 
}

.accept-btn{
    width: 70%
}

.tag-preview{
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 25vw;
    max-width: 40vw;
}
