
 
 
 <section id="home-section" class="line">

  <div class="s-12 m-3 l-3 ">
      <aside class="add-menu">


        <mat-accordion>
          <mat-expansion-panel [expanded]="navStep === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                1 Source
              </mat-panel-title>
              <mat-panel-description>
                Upload
              </mat-panel-description>
            </mat-expansion-panel-header>
        

                <mat-form-field>
                  <mat-select placeholder="Camera" [(value)]="videoDeviceSelected" (change)="getStream()">
                    <mat-option *ngFor="let vidDevice of videoDevices" [value]="vidDevice">
                      {{ vidDevice.text }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>



          </mat-expansion-panel>

          
          <mat-expansion-panel [expanded]="navStep === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                2 Target
              </mat-panel-title>
              <mat-panel-description>
                #Wedding-dress
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="collection-select-row">
                <div class="select-collection-container" *ngFor="let c of collections" >
              
                    <div class="select-collection-item " (click)="collectionSelected(c)">
                        <div class="select-collection-img" [style.backgroundImage]="'url(' + c.imgPath + ')'">
                        </div> 
                    </div>
                      <div class=" select-collection-text">
      
                          <mat-checkbox (change)="collectionSelected(c)" [(ngModel)]="c.collectionIsSelected"></mat-checkbox>
      
                          {{c.collectionTitle}}
                      </div>
                    </div>
            </div>

          </mat-expansion-panel>

            
          <mat-expansion-panel [expanded]="navStep === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                3 Tags
              </mat-panel-title>
              <mat-panel-description>
                #4
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>

          
        </mat-accordion>

        <div class="menu-row">
            <button class="mat-button-filter" mat-button>Add</button>
        </div>

      </aside>
    </div>

           
 </section>
