
@import "../../../assets/css/variables.scss";

.login{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999999999;
    background-color: $background-color;
}

@media only screen and (max-width: 1050px) {
    .login-container{
        display: flow-root !important;
        padding: 5% !important;
        margin: 22vh 10% 10% 10% !important;
    }

    .logo{
        width: 100vw !important;
        left: 0 !important;
        text-align: center !important;
    }

    .qr-container, .form-container{
        width: 100% !important; 

    }

    .qr-container{
        border-right: unset !important;
        border-bottom: 1px solid $primary-blue;
        padding-bottom: 10px;
    }

    .qr-container img{
        width: 150px !important;
    }

    .form-container{
        padding-top: 10px !important;
    }




}

.login-container{

    text-align: center;
    margin: 15%;
    padding: 60px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    z-index: 2;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.login-container span{
    font-size: 12px;
    color: #80808e;
}

.qr-container{
    text-align: center;
    border-right: 1px solid $primary-blue;
    width: 50%;
}

.qr-container img{
    width: 250px;
    margin: auto;
}

.instruction{
    color: $primary-blue;
    font-size: 12px;
    padding: 5px;
}


.form-container{
    width: 50%;
}


.background-container{
    position: fixed;
    top: 0; 
    height: 30vh; 
    width: 100vw;
    background-image: url(../../../assets/img/hangersbg.png);
    background-size: cover;
    background-position: center 27%;
    background-repeat: no-repeat;
    z-index: -1;

}

.background-container .background{
    height: 100%; 
    width: 100%; 
    background-color: rgba($primary-blue, 0.7);

    position: relative;
}

.background-container .logo{
    position: absolute;
    color: #ffffff85;
    z-index: 999;
    top: 15%;
    left: 15%;
    font-size: 70px;
    font-family: Ubuntu;
}


.custom-btn{
    width: 300px;
    margin: auto;
    border-radius: 2px;
    padding: 5px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 100%;
}

.custom-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.custom-btn.fb{
    background-color: #4267b2;
}

.custom-btn.google{
    background-color: #adadad;
}

.custom-btn i{
    display: inline-block;
    vertical-align: middle;
}

.custom-btn span{
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.custom-btn.google span{
    color: #383838;
}

.custom-btn span{
    font-weight: 800;
}


.custom-btn.fb span{
    color: white;
}


.login-form{
    margin: auto;
    width: 300px;
    max-width: 100%;
}

.login-form .field{
    display: block;
    width: 300px;
    max-width: 100%;
}

.sign-in-btn{
    width: 100%;
    margin-top: 15px;
}

.register {
    font-size: 12px;
    padding: 5px;
    color: $primary-blue;
}

.register span{
    color: $primary;
    font-weight: 600;
}

.register span:hover{
    color: $primary-blue;
    cursor: pointer;
}

.error-msg{
    color: #f44336; 

}

.form-container.hasError{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }