
<header class="margin-bottom">
  <div class="line">
     <nav>
        <div class="top-nav">
           <p class="nav-text"></p>
           <a class="logo" href="index.html">            
            comfash
           </a>
           <div id="user-avatar" class="user-avatar" (click)="goToProfile()" (mouseenter) ="showNotification()"  (mouseleave) ="hideNotification()">
            <i class="icon-sli-user icon2x avatar-detail-icon"></i>
            <div class="no-notifications">
              52
            </div>
           </div>
           
          <mat-form-field class="top-menu-search">
            <input color="accent" matInput placeholder="Search" >
          </mat-form-field>


           <ul class="top-ul right">
              <li class="item" [routerLinkActive]="['active-item']" [routerLinkActiveOptions]="{exact:true}">            
                 <a routerLink="room">MyRoom
                    <p class="room-owner">@schnulli</p>
                 </a>
                         
              </li>
              <li class="item" [routerLinkActive]="['active-item']" [routerLinkActiveOptions]="{exact:true}">            
                 <a routerLink="stream">FittingStream</a>            
              </li>

              <li class="item" [routerLinkActive]="['active-item']" [routerLinkActiveOptions]="{exact:true}">            
                 <a routerLink="inspire">Inspire</a>            
              </li>

           </ul>
        </div>
     </nav>
  </div>
</header>


<div class="notification-list" [style.left]="hideNotificationboxLeft + 'px'" [style.top]="hideNotificationboxTop + 'px'" [hidden]="hideNotificationbox" (mouseenter) ="showNotification()"  (mouseleave) ="hideNotification()">
    <div class="item">
        <i class="icon-sli-arrow-right  msg-icon"></i>
      <span>This one looks really cool!</span>
      <p class="msg-details"><b>@Lara</b>, 5min ago, <b>#Weddingdresses</b></p>
    </div>
    <div class="item">
        <i class="icon-sli-arrow-right  msg-icon"></i>
      <span>I like how this shirt works together with your pair of shoes.</span>
      <p class="msg-details"><b>@Tim</b>, 15min ago, <b>#CasualMine</b></p>
    </div>
  <div class="item">
        <i class="icon-sli-arrow-right  msg-icon"></i>
      <span>Maybe you could also try another tone of blue?</span>
      <p class="msg-details"><b>@Eva</b>, 2d ago, <b>#CasualMine</b></p>
  </div>
  <div class="item">
        <i class="icon-sli-arrow-right  msg-icon"></i>
      <span>I have that pair of pants and it goes really well with a black belt also.</span>
      <p class="msg-details"><b>@Jon</b>, 4d ago, <b>#OfficeVibes</b></p>
  </div>
</div>



<div class="capture" (click)="goToCapture()">
    <i class="icon-sli-camrecorder icon2x"></i>
</div>

<router-outlet></router-outlet>


 <!-- FOOTER -->       
 <div class="line">
  <footer>
     <div class="s-12 l-8">
        <p>
           Copyright 2018, <a href="http://www.comfash.de" title="comfash">Comfash</a>
        </p>

     </div>
     <div class="s-12 l-4">
        <div class="social right">	           
            <a target="_blank" href="https://www.facebook.com/comfashApp/">
            <i class="icon-facebook_circle icon2x"></i>
            </a>          
            <a target="_blank" href="https://twitter.com/comfashApp">
            <i class="icon-twitter_circle icon2x"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/comfashapp/">
              <i class="icon-instagram_circle icon2x"></i>
            </a>      
         </div>

                            
     </div>
  </footer>
</div>


<ng4-loading-spinner> </ng4-loading-spinner>
