<div id="header-placeholder">

</div>
<header class="margin-bottom fixed-header">
  <div class="line">
     <nav>
        <div class="top-nav">
           <p class="nav-text"></p>
           <a class="logo left"  routerLink="/">            
            comfash
           </a>

           <ul class="top-ul left">
              <li class="item" [class.activeRoute]="isLinkActive('/profile')">            
                <a id="user-avatar" class="user-avatar"(click)="goToProfile()" (mouseenter) ="showNotification()" 
                (mouseleave) ="hideNotification()">
                    <i class="icon-sli-user icon2x avatar-detail-icon"></i>
                    <div class="no-notifications">
                        {{api.cntUnread}}
                      </div>
                </a>
                        
              </li>
          </ul>

          <mat-form-field class="top-menu-search" [class.featureHidden]="util.hiddenFeature('Search bar')">
            <input color="accent" matInput placeholder="Search" >
          </mat-form-field>


           <ul class="top-ul right">
              <li class="item" [class.active-item]="isLinkActive('/room')">            
                 <a (click)="goToRoom()">MyRoom
                    <p class="room-owner">@{{ profile?.nickname }}</p>
                 </a>
                         
              </li>
              <li class="item" [class.activeRoute]="isLinkActive('/stream')">            
                 <a routerLink="stream">FittingStream</a>            
              </li>

              <li class="item"  [class.activeRoute]="isLinkActive('/inspire')" [class.featureHidden]="util.hiddenFeature('Inspire search')">            
                 <a routerLink="inspire">Inspire</a>            
              </li>


              <li class="item" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">            
                  <a>
                    <i class="icon-sli-logout"></i>
                  </a>            
              </li>


           </ul>
        </div>
     </nav>
  </div>
</header>


<div class="notification-list" [style.left]="hideNotificationboxLeft + 'px'" [style.top]="hideNotificationboxTop + 'px'" [hidden]="hideNotificationbox" (mouseenter) ="showNotification()"  (mouseleave) ="hideNotification()">
    <ng-container *ngFor="let m of api.messages; let i = index;">
        <div class="item" (click)="messageClick(m)">
            <i class="icon-sli-arrow-right  msg-icon"></i>
          <span>{{notify.getMessageBody(m.messageBody)}}</span>
          <p class="msg-details"><b>@{{m.senderName}}</b>, {{util.formatDateDiffToNow(m.messageCreated)}}, <b>@{{m.collectionTitle}}</b></p>
        </div>
    </ng-container>

    <div class="load-more" (click)="api.getMoreMessages()">
        <i class="icon-sli-options"></i>
    </div>
 
</div>



<div class="capture" (click)="goToCapture()" [hidden]="isLinkActive('/capture')">
    <i class="icon-sli-camera icon2x"></i>
</div>

<router-outlet class="main-outlet"></router-outlet>


 <!-- FOOTER -->       
 <div class="line">
  <footer>
     <div class="s-12 l-8">
        <p>
           Copyright 2018, <a href="http://www.comfash.de" title="comfash">Comfash</a>
        </p>

     </div>
     <div class="s-12 l-4">
        <div class="social right">	           
            <a target="_blank" href="https://www.facebook.com/comfashApp/">
            <i class="icon-facebook_circle icon2x"></i>
            </a>          
            <a target="_blank" href="https://twitter.com/comfashApp">
            <i class="icon-twitter_circle icon2x"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/comfashapp/">
              <i class="icon-instagram_circle icon2x"></i>
            </a>      
         </div>

                            
     </div>
  </footer>
</div>


<ng4-loading-spinner> </ng4-loading-spinner>
<simple-notifications></simple-notifications>
