
<header class="margin-bottom">
  <div class="line">
     <nav>
        <div class="top-nav">
           <p class="nav-text"></p>
           <a class="logo" href="index.html">            
            comfash
           </a>                                    
           <ul class="top-ul right">
              <li>            
                 <a routerLink="">MyRoom</a>            
              </li>
              <li>            
                 <a routerLink="stream">FittingStream</a>            
              </li>
              <li>            
                 <a href="archive.html">Archive</a>            
              </li>
              <li>            
                 <a href="contact.html">Contact</a>            
              </li>
             
           </ul>
        </div>
     </nav>
  </div>
</header>


<router-outlet></router-outlet>


 <!-- FOOTER -->       
 <div class="line">
  <footer>
     <div class="s-12 l-8">
        <p>
           Copyright 2017, <a href="http://www.comfash.de" title="comfash">Comfash</a>
        </p>

     </div>
     <div class="s-12 l-4">
        <div class="social right">	           
            <a target="_blank" href="https://www.facebook.com/comfashApp/">
            <i class="icon-facebook_circle icon2x"></i>
            </a>          
            <a target="_blank" href="https://twitter.com/comfashApp">
            <i class="icon-twitter_circle icon2x"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/comfashapp/">
              <i class="icon-instagram_circle icon2x"></i>
            </a>      
         </div>

                            
     </div>
  </footer>
</div>
