<div class="main-container">
      <div class="margin">
         <!-- ARTICLES -->             

         <div class="s-12 m-7 l-9">
                      
             <article *ngFor="let session of sessions" 
             [class]="getSessionSizeClass() + 'margin-bottom session-item '" 
             [class.session-item-selected]="isSessionSelected(session)"
             (click)="selectSession(session)">
                <div class="">
                   <!-- image -->                 
                   <div class="s-12 l-12 post-image">              
                       <div class="post-image-div large" [style.backgroundImage]="'url(' + util.wrapHostPath(session.getSessionItemPath()) + ')'">

                            <div *ngIf="sessions.length > 1" class="compare-pic-close" (click)="closeCompareItem(session.getId())">
                                <i class="icon-sli-close icon2x "></i>
                            </div>

                        <div class="compare-pic-comment " [class.active]="tag.isActive" *ngFor="let tag of session.tags" [style]="san.bypassSecurityTrustStyle(loadLocation(tag))">
                        </div>

                          <div class="session-post-text">   
        
                              <div class="content-session-details">
                                <div class="btn-add-collection" [hidden]="util.hiddenFeature('Anprobe button')">
                                    Anprobe
                                </div>

                                  <span>{{session.voteCnt}}</span> 
                                  <i popover="votePopover"  [myVote]="voteHdl.getSessionVoteType(session)" (onVoted)="voteHdl.handleVote($event, session)" class="icon-sli-like icon2x article-detail-icon voting-icon "></i>
            
                                  <span>{{session.commentCnt}}</span> 
                                  <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                              </div>
            
                           </div>


                       </div>   
 
                   </div>
                </div>

             </article>


             <div class=" s-12 m-12 l-12 margin-bottom" hidden>
              
                <mat-slider class="session-slider" min="1" max="100" step="1" value="20"></mat-slider>

             </div>
         </div>


              <!-- SIDEBAR -->             
     <div class="s-12 m-5 l-3 side-panel">
        <div class="panel-menu">
            <ul>
                <li [class.active]="panelStep == 1" (click)="setPanelStep(1)">
                    <i class="icon-sli-tag icon2x menu-icon"></i>
                </li>
                
                <li [class.active]="panelStep == 2"  (click)="setPanelStep(2)">
                    <i class="icon-sli-bubbles icon2x menu-icon"></i>
                </li>
                
                <li class="back" (click)="close()">
                    <i class="icon-sli-close icon2x menu-icon"></i>
                </li>


            </ul>
        </div>
    
        <div class="panel-content">

            <div class="session-item-details-container">

                <div class="avatar-pic"  [style.backgroundImage]="'url(' + util.wrapHostPath(getCurrSessionUserAvatar()) + ')'" >

                </div>

                <div class="details">
                    <span linkUsername [username]='getCurrSessionUserId()'>@{{getCurrSessionUserName()}}</span>
                    <span linkCollection [username]='getCurrSessionUserId()'  [collectionId]='getCurrSessionCollectionId()'>#{{getCurrSessionCollectionTitle()}}</span>
                    <p>
                        {{util.formatPrcVote(getCurrSessionVote())}}
                    </p>
                </div>

            </div>


            <div [hidden]="panelStep != 1">
                <div *ngIf="purchaseTags.length > 0" >

                    <mat-divider></mat-divider>

                    <p class="panel-subtitle">Purchase tags</p>

                    <div class="purchase-tag-list">
                        <div *ngFor="let tag of purchaseTags" class="list-item" (mouseenter)="hoverInTag(tag)"  (mouseleave) ="hoverOutTag(tag)">

                            <div class="tag-pic" [style.backgroundImage]="'url(' + tag.tagImage + ')'">
            
                            </div>
            
                            <div class="item-details">
                                {{tag.tagTitle}}
                                <p class="category">
                                    {{tag.tagSeller}}
                                </p>
                            </div> 

                            <div class="item-link">
                                <a  target="_blank" [href]="tag.tagUrl">
                                    <i class="icon-sli-tag menu-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
           

                <mat-divider></mat-divider>

                <p class="panel-subtitle">Similar outfits</p>

                <div class="similar-outfits-list">

                    <div class="item" *ngFor="let simItem of similarOutfits" [style.backgroundImage]="'url(' + simItem.imgPath + ')'">
                        

                    </div>

                </div>

            </div>

            <mat-divider></mat-divider>

            <p class="panel-subtitle">Comment</p>

            <mat-form-field class="input-comment">
                <textarea matInput [(ngModel)]="commentText"></textarea>
            </mat-form-field>

            <button color="primary" class="mat-button-comment" (click)="addComment()" mat-button>Comment</button>


            <div [hidden]="panelStep != 2">

                <mat-divider></mat-divider>
                
                <div class="comment-list">
                    <div *ngFor="let comment of commentList" class="list-item">

                        <div class="avatar-pic" [style.backgroundImage]="'url(' + util.wrapHostPath(comment.commentUserAvatarPath) + ')'">
        
                        </div>
        
                        <div class="item-details">
                            {{comment.commentText}}
                            <p class="category">
                                <span linkUsername [username]='comment.commentUserName'>@{{comment.commentUserName}}</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>



        </div>
     </div>

    </div>


    <div class="content-history">

        <div class="item" *ngFor="let histSession of api.compareSessions" 
        [style.backgroundImage]="'url(' + util.wrapHostPath(histSession.getSessionItemPath()) + ')'"
        (click)="loadSessionFromHistory(histSession)">
                
        </div>


    </div>

</div>