  <!-- MAIN SECTION -->                  
  <section id="article-section" class="line archive">
      <div class="margin">
         <!-- ARTICLES -->             

         <div class="s-12 m-7 l-9">
         
            <!-- ARTICLE 1 -->               
            <article class=" s-12 m-6 l-6 margin-bottom session-item">
               <div class="post-1 line">
                  <!-- image -->                 
                  <div class="s-12 l-12 post-image">                   
                      <div class="post-image-div" style="background-image: url('../../assets/img/6.jpg');">

                       

                        <div class="session-post-text">   
        
                          <div class="content-session-details">
        
                              <span>2</span> 
                              <i class="icon-sli-like icon2x article-detail-icon "></i>
        
                              <span>2</span> 
                              <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                          </div>
        
                       </div>

                      </div>   

                  </div>
               </div>

            </article>
             <!-- ARTICLE 1 -->               
             <article class=" s-12 m-6 l-6 margin-bottom session-item">
                <div class="post-1 line">
                   <!-- image -->                 
                   <div class="s-12 l-12 post-image">                   
                       <div class="post-image-div" style="background-image: url('../../assets/img/7.jpg');">

                        <div class="compare-pic-comment " style="top: 24%; left: 55%;" >
                          </div>

                        <div class="compare-pic-comment" style="top: 65%; left: 33%;" >
                          </div>
  
                          <div class="compare-pic-comment" style="top: 73%; left: 44%;" >
                          </div>

                          <div class="compare-pic-comment active" style="top: 42%; left: 55%;" >
                          </div>
  
                          <div class="compare-pic-comment" style="top: 71%; left: 88%;" >
                          </div>

                          <div class="session-post-text">   
        
                              <div class="content-session-details">
            
                                  <span>1</span> 
                                  <i class="icon-sli-like icon2x article-detail-icon "></i>
            
                                  <span>5</span> 
                                  <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                              </div>
            
                           </div>


                       </div>   
 
                   </div>
                </div>

             </article>


             <div class=" s-12 m-12 l-12 margin-bottom">
              
                <mat-slider class="session-slider" min="1" max="100" step="1" value="20"></mat-slider>

             </div>
            
         </div>


              <!-- SIDEBAR -->             
     <div class="s-12 m-5 l-3">
        <aside>
           <!-- NEWS 1 -->
           <div class="aside-block margin-bottom msg-item active">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>This one looks really cool!</p>
              <p class="msg-details"><b>@Lara</b>, 5min ago, <b>#Weddingdresses</b></p>
           </div>

           <div class="aside-block margin-bottom msg-item">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>I like how this shirt works together with your pair of shoes.</p>
              <p class="msg-details"><b>@Tim</b>, 15min ago, <b>#CasualMine</b></p>
           </div>

          <div class="aside-block margin-bottom msg-item">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>Maybe you could also try another tone of blue?</p>
              <p class="msg-details"><b>@Eva</b>, 2d ago, <b>#CasualMine</b></p>
          </div>

          <div class="aside-block margin-bottom msg-item">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>I have that pair of pants and it goes really well with a black belt also.</p>
              <p class="msg-details"><b>@Jon</b>, 4d ago, <b>#OfficeVibes</b></p>
          </div>

        </aside>
     </div>

    </div>

   </section>