<section id="home-section" class="line">
  <div class="margin">
                
     <div class="s-12 m-7 l-9">
                     
        <article class="line" 
        [class.right-align]="!(i % 2 == 0)" 
        [style.backgroundColor]="c.primColor"
        
        *ngFor="let c of myCollections; let i = index;">
                         
           <div class="s-12 l-6 post-image">                   
            <div class="post-image-div" [style.backgroundImage]="'url(' + c.imgPath + ')'">
            </div>                  
           </div>

           <div class="s-12 l-5 post-text">
              <a (click)="goImgCollection(1)">
                 <h2>{{c.collectionTitle}}</h2>
              </a>
              <p>{{c.collectionDescription}}             
              </p>
              
           </div>
             
           <div class="s-12 l-1 post-date">
              <p class="date">{{c.createdDay}}</p>
              <p class="month">{{c.createdMonth}}</p>
           </div>

           <div class="item-details" [class.right-align]="!(i % 2 == 0)">

              <span>{{c.voteStats.voteCnt}}</span>
              <i  popover="votePopover" (onVoted)="voteHandler($event)" class="icon-sli-like icon2x article-detail-icon "></i>


              <span>{{c.voteStats.commentCnt}}</span> 
              <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
           </div>
        </article>

     </div>
     <!-- SIDEBAR -->             
     <div class="s-12 m-5 l-3">
        <aside>
           <!-- NEWS 1 -->
           <div class="aside-block margin-bottom msg-item">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>This one looks really cool!</p>
              <p class="msg-details"><b>@Lara</b>, 5min ago, <b>#Weddingdresses</b></p>
           </div>

           <div class="aside-block margin-bottom msg-item">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>I like how this shirt works together with your pair of shoes.</p>
              <p class="msg-details"><b>@Tim</b>, 15min ago, <b>#CasualMine</b></p>
           </div>

          <div class="aside-block margin-bottom msg-item">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>Maybe you could also try another tone of blue?</p>
              <p class="msg-details"><b>@Eva</b>, 2d ago, <b>#CasualMine</b></p>
          </div>

          <div class="aside-block margin-bottom msg-item">
                <i class="icon-sli-arrow-right icon2x msg-icon"></i>
              <p>I have that pair of pants and it goes really well with a black belt also.</p>
              <p class="msg-details"><b>@Jon</b>, 4d ago, <b>#OfficeVibes</b></p>
          </div>

        </aside>
     </div>
  </div>
</section>