  <!-- MAIN SECTION -->                  
  <section id="article-section" class="line archive">
      <div class="margin">
         <!-- ARTICLES -->             

         
            <!-- ARTICLE 1 -->               
            <article class=" s-12 m-6 l-6 margin-bottom session-item">
               <div class="post-1 line">
                  <!-- image -->                 
                  <div class="s-12 l-10 post-image">                   
                      <div class="post-image-div" style="background-image: url('../../assets/img/6.jpg');">
                      </div>   

                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-2 post-date">
                     <p class="date">07</p>
                     <p class="month">mar</p>
                     
                     <div class="session-compare active">
                        <i class="icon-sli-shuffle icon2x article-detail-icon "></i>
                     </div>

                     <div class="session-vote ">
                        <span>76%</span>
                        <i class="icon-sli-like icon2x article-detail-icon "></i>
                     </div>

                  </div>
               </div>
               <!-- text -->                 
               <div class="post-text">

                    <div class="session-details right-align">
                        <i class="icon-sli-trash icon2x article-detail-icon trash "></i>
                    </div>
 


                  <div class="session-details">

                      <span>12</span> 
                      <i class="icon-sli-like icon2x article-detail-icon "></i>

                      <span>8</span> 
                      <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                  </div>

               </div>
            </article>
             <!-- ARTICLE 1 -->               
             <article class=" s-12 m-6 l-6 margin-bottom session-item">
                <div class="post-1 line">
                   <!-- image -->                 
                   <div class="s-12 l-10 post-image">                   
                       <div class="post-image-div" style="background-image: url('../../assets/img/7.jpg');">
                       </div>   
 
                   </div>
                   <!-- date -->                 
                   <div class="s-12 l-2 post-date">
                      <p class="date">11</p>
                      <p class="month">feb</p> 

                      <div class="session-compare active">
                          <i class="icon-sli-shuffle icon2x article-detail-icon "></i>
                       </div>

                       <div class="session-vote">
                          <span>79%</span>
                          <i class="icon-sli-like icon2x article-detail-icon "></i>
                       </div>

                   </div>


                </div>
                <!-- text -->                 
                <div class="post-text">
 
                     <div class="session-details right-align">
                         <i class="icon-sli-trash icon2x article-detail-icon trash "></i>
                     </div>
  
 
 
                   <div class="session-details">
 
                       <span>12</span> 
                       <i class="icon-sli-like icon2x article-detail-icon "></i>
 
                       <span>112</span> 
                       <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                   </div>
 
                </div>
             </article>

              <!-- ARTICLE 1 -->               
            <article class=" s-12 m-6 l-6 margin-bottom session-item">
                <div class="post-1 line">
                   <!-- image -->                 
                   <div class="s-12 l-10 post-image">                   
                       <div class="post-image-div" style="background-image: url('../../assets/img/8.jpg');">
                       </div>   
 
                   </div>
                   <!-- date -->                 
                   <div class="s-12 l-2 post-date">
                      <p class="date">22</p>
                      <p class="month">mar</p> 

                      <div class="session-compare">
                          <i class="icon-sli-shuffle icon2x article-detail-icon "></i>
                       </div>

                       <div class="session-vote highlight">
                          <span>89%</span>
                          <i class="icon-sli-like icon2x article-detail-icon "></i>
                       </div>

                   </div>
                </div>
                <!-- text -->                 
                <div class="post-text">
 
                     <div class="session-details right-align">
                         <i class="icon-sli-trash icon2x article-detail-icon trash "></i>
                     </div>
  
 
 
                   <div class="session-details">
 
                       <span>4</span> 
                       <i class="icon-sli-like icon2x article-detail-icon "></i>
 
                       <span>8</span> 
                       <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                   </div>
 
                </div>
             </article>

                           <!-- ARTICLE 1 -->               
            <article class=" s-12 m-6 l-6 margin-bottom session-item">
                <div class="post-1 line">
                   <!-- image -->                 
                   <div class="s-12 l-10 post-image">                   
                       <div class="post-image-div" style="background-image: url('../../assets/img/9.jpg');">
                       </div>   
 
                   </div>
                   <!-- date -->                 
                   <div class="s-12 l-2 post-date">
                      <p class="date">02</p>
                      <p class="month">dec</p> 

                      <div class="session-compare">
                          <i class="icon-sli-shuffle icon2x article-detail-icon "></i>
                       </div>

                       <div class="session-vote">
                          <span>42%</span>
                          <i class="icon-sli-like icon2x article-detail-icon "></i>
                       </div>

                   </div>
                </div>
                <!-- text -->                 
                <div class="post-text">
 
                     <div class="session-details right-align">
                         <i class="icon-sli-trash icon2x article-detail-icon trash "></i>
                     </div>
  
 
 
                   <div class="session-details">
 
                       <span>2</span> 
                       <i class="icon-sli-like icon2x article-detail-icon "></i>
 
                       <span>5</span> 
                       <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                   </div>
 
                </div>
             </article> 

                           <!-- ARTICLE 1 -->               
            <article class=" s-12 m-6 l-6 margin-bottom session-item">
                <div class="post-1 line">
                   <!-- image -->                 
                   <div class="s-12 l-10 post-image">                   
                       <div class="post-image-div" style="background-image: url('../../assets/img/10.jpg');">
                       </div>   
 
                   </div>
                   <!-- date -->                 
                   <div class="s-12 l-2 post-date">
                      <p class="date">01</p>
                      <p class="month">jan</p> 

                      <div class="session-compare">
                          <i class="icon-sli-shuffle icon2x article-detail-icon "></i>
                       </div>

                       <div class="session-vote highlight">
                          <span>98%</span>
                          <i class="icon-sli-like icon2x article-detail-icon "></i>
                       </div>

                   </div>
                </div>
                <!-- text -->                 
                <div class="post-text">
 
                     <div class="session-details right-align">
                         <i class="icon-sli-trash icon2x article-detail-icon trash "></i>
                     </div>
  
 
 
                   <div class="session-details">
 
                       <span>78</span> 
                       <i class="icon-sli-like icon2x article-detail-icon "></i>
 
                       <span>4</span> 
                       <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                   </div>
 
                </div>
             </article>
            
         </div>

   </section>