<div class="compare" (click)="goToContent()">
    <i class="icon-sli-shuffle icon2x"></i>
</div>

  <!-- MAIN SECTION -->                  
  <section id="article-section" class="line archive">
      <div class="margin">

         <!-- ARTICLE 1     -->           
         <article *ngFor="let s of sessions" class=" s-12 m-3 l-3 margin-bottom session-item">
                <div class="post-1 line">
                   <!-- image -->                 
                   <div class="s-12 l-10 post-image">                   
                       <div class="post-image-div" [style.backgroundImage]="'url(' + s.imgPath + ')'">
                       </div>   
 
                   </div>
                   <!-- date -->                 
                   <div class="s-12 l-2 post-date">
                      <p class="date">{{s.dateDay}}</p>
                      <p class="month">{{s.dateMonth}} '{{s.dateYear}}</p>
                      
                      <div class="session-compare active">
                         <i class="icon-sli-shuffle icon2x article-detail-icon "></i>
                      </div>
 
                      <div class="session-vote" [class.highlight]="s.voteStats.avg > 70">
                         <p>{{s.voteStats.avg}}%</p>
                         <i class="icon-sli-like icon2x article-detail-icon "></i>
                      </div>
 
                   </div>
                </div>
                <!-- text -->                  
                <div class="post-text"> 
 
                     <div class="session-details right-align">
                         <i class="icon-sli-trash icon2x article-detail-icon trash "></i>
                     </div>
 
                   <div class="session-details">
 
                       <span>{{s.likes}}</span> 
                       <i class="icon-sli-like icon2x article-detail-icon "></i>
 
                       <span>{{s.comments}}</span> 
                       <i class="icon-sli-bubbles icon2x article-detail-icon "></i>
                   </div>
 
                </div>
             </article>




            
         </div>

   </section>